* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hero__carousel {
  margin-left: 70px;
}

.main-carousel {
  width: 95%;
}
.main-carousel img {
  border-radius: 26px;
}

.footer-brands {
  margin-bottom: 20px;
}
.footer-brands .foter-brands-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-brands .foter-brands-contain a {
  padding: 27px 40px;
  border: 1px solid rgb(222, 221, 221);
  border-radius: 20px;
  margin-top: 10px;
}

.footer-quesson {
  margin-bottom: 50px;
}
.footer-quesson h3 {
  margin-bottom: 20px;
}
.footer-quesson .footer-quesson__content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.footer-quesson .footer-quesson__content .footer-quesson-card {
  border: 2px solid rgb(223, 223, 223);
  border-radius: 20px;
  padding: 10px 1px 0px 5px;
  cursor: pointer;
  width: 226px;
  height: 261px;
}
.footer-quesson .footer-quesson__content .footer-quesson-card img {
  background: #FDF5F3;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.footer-quesson .footer-quesson__content .footer-quesson-card h3 {
  font-size: 16px;
  font-weight: 700;
}
.footer-quesson .footer-quesson__content .footer-quesson-card p {
  font-weight: 400;
  font-size: 14px;
  color: #6C7178;
}

.footer-top {
  background: url(../../img/img-icon/phones.webp) no-repeat right bottom #e8e8e8;
}
.footer-top h3 {
  color: #222C3A;
  font-size: 32px;
  font-weight: 700;
  padding-top: 64px;
}
.footer-top p {
  color: #6C7178;
  font-size: 16px;
  font-weight: 400;
}
.footer-top .footer-top__app-links {
  padding-bottom: 45px;
}
.footer-top .footer-top__app-links img {
  margin-right: 20px;
  cursor: pointer;
}
.footer-top .footer-top__app-links img:last-child {
  margin-right: 0;
}

.footer {
  background: #1D242F;
}
.footer .footer-clases {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 48px;
}
.footer .footer-clases .footer-logo h3 {
  color: #fff;
  margin: 32px 0px 10px;
  font-size: 14px;
  font-weight: 500;
}
.footer .footer-clases .footer-logo a {
  color: #fff;
  margin: 0px 0px 16px;
  font-size: 16px;
  font-weight: 600;
}
.footer .footer-clases .footer-logo h4 {
  color: #fff;
  margin: 0px 0px 16px;
  font-size: 14px;
  font-weight: 400;
}
.footer .footer-clases .footer-logo h2 {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.footer .footer-clases .footer-logo_links h3 {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.footer .footer-clases .footer-logo_links .footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-clases .footer-logo_links .footer-links a {
  background: #222C3A;
  padding: 5px 20px;
  margin-right: 5px;
  border-radius: 12px;
}
.footer .footer-clases .footer-logo_links .footer-links .error {
  padding: 5px;
}
.footer .footer-clases .footer-links-ul li a {
  color: #9d9d9d;
}
.footer .footer-clases .footer-links-ul li a:hover {
  color: #FFF;
}
.footer .footer-clases .footer-links-ul li:first-child a {
  color: #FFF;
  font-weight: 700;
  font-size: 14px;
}

.footer-bottom {
  background: #222C3A;
  padding: 24px;
}
.footer-bottom .footer-bottom-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom .footer-bottom-links .footer-bottom-links1 h3 {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
.footer-bottom .footer-bottom-links .footer-bottom-links2 a {
  margin-right: 24px;
}
.footer-bottom .footer-bottom-links .footer-bottom-links2 a:last-child {
  margin-right: 0px;
}

.header__container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container .header__search-input {
  display: flex;
  position: relative;
}
.header__container .header__search-input .header_bars {
  background: rgb(255, 38, 0);
  border-radius: 16px;
  padding: 15px 15px;
  margin-right: 20px;
  margin-left: 0px;
  cursor: pointer;
}
.header__container .header__search-input .header_bars a {
  color: white;
}
.header__container .header__search-input .header_bars a img {
  margin-right: 10px;
}
.header__container .header__search-input input {
  border-radius: 10px;
  border: 1px solid rgba(154, 154, 154, 0.4);
  padding: 15px 250px 15px 10px;
}
.header__container .header__search-input .img-search__deafult {
  background: rgb(255, 38, 0);
  width: 65px;
  height: 45px;
  padding: 13px 20px 13px 20px;
  border-radius: 12px;
  display: block;
  margin-left: -70px;
  margin-top: 5px;
  position: absolute;
  cursor: pointer;
}
.header__container .header__search-input .img-search__deafult img {
  width: 24px;
  height: 24px;
}
.header__container .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__container .header__nav .header__box {
  margin-right: 10px;
}
.header__container .header__nav .header__box a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000;
}
.header__container .header__nav .header__kilo {
  margin-right: 10px;
}
.header__container .header__nav .header__kilo a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000;
}
.header__container .header__nav .header__basket {
  margin-right: 10px;
}
.header__container .header__nav .header__basket a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000;
}
.header__container .header__nav .header__like {
  margin-right: 10px;
}
.header__container .header__nav .header__like a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000;
}
.header__container .header__nav .header__user a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000;
}

.navigation {
  margin-bottom: 30px;
}
.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation ul a {
  color: #535353;
}
.navigation ul a:hover {
  color: #000;
}
.navigation ul li:first-child a {
  background: rgb(129, 215, 0);
  color: #fff;
  padding: 5px 10px;
  border-radius: 16px;
}
.navigation ul li:first-child a:hover {
  background: rgba(129, 215, 0, 0.6);
}

.kategoriy {
  margin-top: 10px;
  margin-bottom: 15px;
}
.kategoriy .kategoriy__cards-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.kategoriy .kategoriy__cards-contain .kategoriy__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #dadada;
  padding: 25px 15px;
  border-radius: 20px;
}
.kategoriy .kategoriy__cards-contain .kategoriy__cards .kategori__container-img {
  background: rgba(217, 46, 21, 0.0588235294);
  padding: 8px;
  border-radius: 10px;
}
.kategoriy .kategoriy__cards-contain .kategoriy__cards a {
  margin-left: 10px;
  color: #252525;
}

.sidebar {
  background: rgba(230, 230, 230, 0.3);
}
.sidebar .sidebar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .sidebar__container .sidebar__container__phone a:first-child {
  margin-right: 30px;
}
.sidebar .sidebar__container .sidebar__container__phone a {
  color: rgba(79, 79, 79, 0.7);
}
.sidebar .sidebar__container .sidebar__container__phone a img {
  margin-right: 10px;
}
.sidebar .sidebar__container .sidebar__container__phone a:hover {
  color: rgb(79, 79, 79);
}

.sidebar__container__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar__container__menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 15px;
}
.sidebar__container__menu ul a {
  color: rgba(79, 79, 79, 0.7);
}
.sidebar__container__menu ul a:hover {
  color: rgb(79, 79, 79);
}
.sidebar__container__menu select {
  margin-right: -80px;
  margin-left: 50px;
  border: none;
  border-radius: 6px;
}

.hero {
  margin-bottom: 40px;
}
.hero .hero-links__content {
  margin-bottom: 20px;
  margin-top: 20px;
}
.hero .hero-links__content a {
  background: #dfdfdf;
  color: #363636;
  padding: 5px 20px;
  border-radius: 16px;
}
.hero .hero-links__content a:hover {
  background: #cbcbcb;
}
.hero .hero-links__content a:first-child {
  background: #00013a;
  color: #fff;
}

.footer-hero {
  margin-bottom: 20px;
}
.footer-hero h3 {
  margin-top: 20px;
}
.footer-hero .footer-hero__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-hero .footer-hero-links__content {
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer-hero .footer-hero-links__content a {
  background: #dfdfdf;
  color: #363636;
  padding: 5px 10px;
  border-radius: 16px;
}
.footer-hero .footer-hero-links__content a:hover {
  background: #cbcbcb;
}
.footer-hero .footer-hero-links__content a:first-child {
  background: #00013a;
  color: #fff;
}
.footer-hero .footer-hero__cards1 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-hero .footer-hero__cards1 .cards-laptob {
  text-align: center;
  padding: 5px;
  max-width: 215px;
  border: 1px solid white;
  border-radius: 16px;
  margin-bottom: 10px;
}
.footer-hero .footer-hero__cards1 .cards-laptob:hover {
  border: 1px solid rgb(202, 202, 202);
}
.footer-hero .footer-hero__cards1 .cards-laptob .laptob-description h2 {
  font-size: 14px;
  opacity: 1;
  line-height: 150%;
  text-align: left;
  min-height: 38px;
  margin-top: 12px;
  color: rgb(129, 128, 128);
  margin-left: 7px;
}
.footer-hero .footer-hero__cards1 .cards-laptob .labtob-count h2 {
  font-size: 23px;
  font-weight: 700;
}
.footer-hero .footer-hero__cards1 .cards-laptob .labtob-months {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(233, 233, 233, 0.3);
  height: 50px;
  border-radius: 10px;
  padding: 0px 5px 0px 0px;
}
.footer-hero .footer-hero__cards1 .cards-laptob .labtob-months h3 {
  font-size: 14px;
  margin-right: 5px;
  margin-top: 5px;
}
.footer-hero .footer-hero__cards1 .cards-laptob .labtob-months .labtob-months-count {
  background: #FFF;
  height: 30px;
  margin-left: 5px;
  border-radius: 10px;
  text-align: center;
  padding: 2px 3px 1px;
}
.footer-hero .footer-hero__cards1 .cards-laptob .labtob-months .labtob-months-count h4 {
  font-size: 14px;
}

.hero-cards__contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hero-crad2-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-card1 {
  margin-top: 30px;
}

.button-item button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background: lightgreen;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 12px;
  margin-left: 9px;
}

.button-item button:hover {
  background: rgb(26, 168, 26);
  border: 1px solid rgb(124, 119, 119);
}

.hero-card1 {
  width: 211.5px;
  height: 500px;
  transition: all 3s;
  border-radius: 12px;
  cursor: pointer;
}

.hero-card1:hover {
  border: 1px solid rgb(233, 224, 224);
  border-radius: 12px;
}

.hero-img img {
  width: 170px;
  height: 190px;
  margin-left: 19px;
}

.hero-text1 h3 {
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  color: rgb(145, 142, 142);
}

.hero-text2 h2 {
  margin-left: 10px;
  margin-top: 13px;
  font-size: 23px;
  font-weight: bolder;
}

.hero-buton1 button {
  color: #00013a;
  height: 27px;
  background: white;
  border: 0.5px solid #00013a;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 7px;
  padding: 4px 12px;
}

.hero-buton1 button:hover {
  /* background:lightgray; */
  border: 1px solid rgb(131, 129, 129);
}

.hero-text3 h2 {
  font-size: 14px;
  opacity: 1;
  line-height: 150%;
  text-align: left;
  min-height: 38px;
  margin-top: 12px;
  color: rgb(129, 128, 128);
  margin-left: 7px;
}

.star-icon__contain {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-left: 7px;
}

.hero__strar-ball h2 {
  font-size: 14px;
  font-weight: 500;
}

.card1-butonns {
  display: flex;
  gap: 10px;
  margin-left: 5px;
  margin-top: 12px;
}

.hero-buton2 button {
  width: 65.5px;
  height: 50px;
  background: rgb(224, 56, 56);
  border: none;
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
}

.hero-buton2 button:hover {
  background: rgb(184, 16, 16);
}

.hero-buton3 button {
  width: 55.5px;
  height: 50px;
  background: rgb(219, 218, 218);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s;
}

.hero-buton3 button:hover {
  background: white;
  border: 0.5px solid rgb(129, 121, 121);
}

.hero-buton4 button {
  width: 55.5px;
  height: 50px;
  background: rgb(211, 209, 209);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s;
}

.hero-buton4 button:hover {
  background: white;
  border: 0.5px solid rgb(129, 121, 121);
}

.big__container {
  margin-left: -1290px;
  display: flex;
  gap: 20px;
}

.big__container button {
  /* background:rgb(230, 53, 53); */
}

.bigger__container {
  margin-left: -1295px;
  display: flex;
  gap: 20px;
}

.big-img {
  margin-left: -1295px;
  margin-top: 40px;
}

.big-img img {
  width: 1339px;
  border-radius: 15px;
}

.text-one-item p {
  margin-left: -1270px;
  /* width: 259.69px; */
  /* height: 36px; */
  font-size: 40px;
  cursor: pointer;
  margin-top: 20px;
}

.buttons-item {
  margin-left: -1260px;
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.buton button {
  width: 49.55px;
  height: 30px;
  background: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
}

.buton button:hover {
  background: white;
  color: black;
}

.button-two-item button {
  width: 111px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
  padding: 6px 14px;
  transition: all 0.5s;
}

.button-two-item button:hover {
  background: rgb(121, 117, 117);
  color: rgb(255, 254, 254);
}

.button-three-item button {
  width: 111px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
  padding: 6px 14px;
  transition: all 0.5s;
}

.button-three-item button:hover {
  background: rgb(121, 117, 117);
  color: rgb(255, 254, 254);
}

.button-fiver-item button {
  width: 111px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
  padding: 6px 14px;
  transition: all 0.5s;
}

.button-fiver-item button:hover {
  background: rgb(121, 117, 117);
  color: rgb(255, 254, 254);
}

.button-four-item button {
  width: 111px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
  padding: 6px 14px;
  transition: all 0.5s;
}

.button-four-item button:hover {
  background: rgb(121, 117, 117);
  color: rgb(255, 254, 254);
}

.button-item button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 12px;
  background: lightgreen;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 12px;
  margin-left: 9px;
}

.button-item button:hover {
  background: rgb(26, 168, 26);
  border: 1px solid rgb(124, 119, 119);
}

.main-one {
  width: 211.5px;
  height: 500px;
  transition: all 3s;
  border-radius: 12px;
  cursor: pointer;
}

.main-one:hover {
  border: 1px solid rgb(233, 224, 224);
  border-radius: 12px;
}

.imagess img {
  width: 170px;
  height: 190px;
  margin-left: 19px;
}

.text-one-item h3 {
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  color: rgb(145, 142, 142);
}

.text-two-item h2 {
  margin-left: 10px;
  margin-top: 13px;
  font-size: 23px;
  font-weight: bolder;
}

.buton-one-item button {
  height: 27px;
  background: white;
  border: 0.5px solid black;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 7px;
  padding: 4px 12px;
}

.buton-one-item button:hover {
  /* background:lightgray; */
  border: 1px solid rgb(131, 129, 129);
}

.text-three-item h2 {
  font-size: 14px;
  opacity: 1;
  line-height: 150%;
  text-align: left;
  min-height: 38px;
  margin-top: 12px;
  color: rgb(129, 128, 128);
  margin-left: 7px;
}

.sz {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-left: 7px;
}

.texte h2 {
  font-size: 14px;
  font-weight: 500;
}

.buttonsss {
  display: flex;
  gap: 10px;
  margin-left: 5px;
  margin-top: 12px;
}

.butons-two-item button {
  width: 65.5px;
  height: 50px;
  background: rgb(224, 56, 56);
  border: none;
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
}

.butons-two-item button:hover {
  background: rgb(184, 16, 16);
}

.butons-three-item button {
  width: 55.5px;
  height: 50px;
  background: rgb(219, 218, 218);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s;
}

.butons-three-item button:hover {
  background: white;
  border: 0.5px solid rgb(129, 121, 121);
}

.butons-four-item button {
  width: 55.5px;
  height: 50px;
  background: rgb(211, 209, 209);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s;
}

.butons-four-item button:hover {
  background: white;
  border: 0.5px solid rgb(129, 121, 121);
}

.big__container {
  margin-left: -1290px;
  display: flex;
  gap: 20px;
}

.big__container button {
  /* background:rgb(230, 53, 53); */
}

.bigger__container {
  margin-left: -1295px;
  display: flex;
  gap: 20px;
}

.big-img {
  margin-left: -1295px;
  margin-top: 40px;
}

.big-img img {
  width: 1339px;
  border-radius: 15px;
}

.text-one-item p {
  margin-left: -1270px;
  /* width: 259.69px; */
  /* height: 36px; */
  font-size: 40px;
  cursor: pointer;
  margin-top: 20px;
}

.buttons-item {
  margin-left: -1260px;
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.buon button {
  width: 49.55px;
  height: 30px;
  background: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
}

.buon button:hover {
  background: white;
  color: black;
}

.button-two-item button {
  width: 111px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
  padding: 6px 14px;
  transition: all 0.5s;
}

.button-two-item button:hover {
  background: rgb(121, 117, 117);
  color: rgb(255, 254, 254);
}

.button-three-item button {
  width: 111px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
  padding: 6px 14px;
  transition: all 0.5s;
}

.button-three-item button:hover {
  background: rgb(121, 117, 117);
  color: rgb(255, 254, 254);
}

.button-fiver-item button {
  width: 111px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
  padding: 6px 14px;
  transition: all 0.5s;
}

.button-fiver-item button:hover {
  background: rgb(121, 117, 117);
  color: rgb(255, 254, 254);
}

.button-four-item button {
  width: 111px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgb(218, 216, 216);
  cursor: pointer;
  padding: 6px 14px;
  transition: all 0.5s;
}

.button-four-item button:hover {
  background: rgb(121, 117, 117);
  color: rgb(255, 254, 254);
}

.hero-cards__contain2-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */